* {
  padding: 0;
  margin: 0;
}

.App h1 {
  text-align: center;
  margin-top: 10rem;
}
.section {
  padding: 5rem 0;
  position: relative;
}

.form-wrapper {
  width: 70vw;
  margin: 0 auto;
  max-width: 40rem;
}

.my-form-control {
  padding: 0;
}
